@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap ');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300;400&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./images/hero-bg.png')
}

h1{
  font-family: 'Open Sans';
  font-weight: bold;
}
#home{
  font-family: 'Open Sans';
  color: blue;
}

#subtitle{
  padding-left: 10%;
  font-weight: bold;
  font-family: 'Lato';
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New','Open Sans',
    monospace;
}

.css-18sg6k4-MuiPaper-root-MuiDrawer-paper{
  overflow-y: hidden;
  overflow-x: hidden;
}
